.ENTRY_ITEM_NAME {
  background : #30241B;
  color      : #F7D7D4;

  border : none;
  border-radius : 99pt;
}

.POPUP_BUTTON,
.HEADER_BUTTON {
  border : none;
  border-radius : 99pt;

  background : #30241B;
}

.HEADER {
  background : #7E5E65;
  border : none;
}

.ITEM_HEADER,
.ITEM_HEADER_EMPTY {
  background : #30241B;
  border-radius : 99pt;
  margin-bottom : 3pt;
}

.ITEM_HEADER_EMPTY {
  margin-right : 3pt;
}

.BACKGROUND {
  padding-top : 4pt;
  background : #14100F;
}

.POPUP_BUTTON {
  padding-left  : 10pt;
  padding-right : 10pt;
}

.POPUP {
  background : #7E5E65;
  border-radius : 15pt;
  border-top-left-radius : 0pt;
  border : none;
  margin : 0 0 0 0;
  padding : 0 0 0 0;
}

.BUTTON_MINUS,
.BUTTON_PLUS {
  background : #30241B;
  border : none;
  font-size : 10pt;
}

.POPUP_BUTTON:hover,
.HEADER_BUTTON:hover,
.BUTTON_MINUS:hover,
.BUTTON_PLUS:hover {
  background : #493D31;
}

.POPUP_BUTTON:hover,
.HEADER_BUTTON:active,
.BUTTON_MINUS:active,
.BUTTON_PLUS:active {
  background : #14100F;
}

.BUTTON_MINUS {
  padding-right : 4pt;
  border-top-right-radius : 99pt;
  border-bottom-right-radius : 99pt;
}

.BUTTON_PLUS {
  padding-left : 4pt;
  border-top-left-radius : 99pt;
  border-bottom-left-radius : 99pt;
}
